<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>CRUD MATRICULA</h1>
  <hr>
  <button (click)="agregarcurso()" class="btn btn-success" style="margin-left: 10px">AGREGAR CURSO</button>
  <button (click)="listarcurso()" class="btn btn-info " style="margin-left: 10px">LISTAR CURSO</button><br>
  
  <br>

  <button (click)="agregarempleado()" class="btn btn-success" style="margin-left: 10px">AGREGAR EMPLEADO</button>
  <button (click)="listarempleado()" class="btn btn-info " style="margin-left: 10px">LISTAR EMPLEADO</button><br>
  
  <br>

  <button (click)="agregaralumno()" class="btn btn-success" style="margin-left: 10px">AGREGAR ALUMNO</button>
  <button (click)="listaralumno()" class="btn btn-info " style="margin-left: 10px">LISTAR ALUMNO</button> <br>
  
  <br>

  <button (click)="agregarescuela()" class="btn btn-success" style="margin-left: 10px">AGREGAR ESCUELA</button>
  <button (click)="listarescuela()" class="btn btn-info " style="margin-left: 10px">LISTAR ESCUELA</button> <br>
  
  <br>


</div>
<div class="container prueba">
  <router-outlet></router-outlet>
  
</div>