<div class="container col-md-6">
    <form action="">
        <div class="form-group">
            <label for="a">ALUMNO</label>
        </div>
        <label>Nombre</label>
        <input [(ngModel)]="alumno.nombres" name="nombres_alumno"   type="text" class="form-control" > <br>

        <label>Apellido</label>
        <input [(ngModel)]="alumno.apellidos" name="apellidos_alumno"  type="text" class="form-control" > <br>

        <label>Codigo</label>
        <input [(ngModel)]="alumno.codigo" name="codigo_alumno"   type="text" class="form-control" > <br>

        <label>DNI</label>
        <input [(ngModel)]="alumno.dni" name="codigo_alumno"  type="text" class="form-control" > <br>

        <button (click)="guardaralumno()" class="btn btn-primary">Registrar</button>
    </form>
</div>
